@import url(https://fonts.googleapis.com/css?family=Gafata);

.header{
	background-color:#3a3a3a; /* fallback color if gradients are not supported */
    padding: 0 50px;
    height: 70px;
}
.container{
	height:100%;
	background-color: #F5F5F5;
}
.logo{
	display: inline-block;
	width:20%;
}
.logo__text{
	color: white;
}
.nav{
 	display: inline-block;
 	width:80%;
}
.nav__li{
	list-style:none;
	display: inline-block;
	width: 30%;
}
.nav__text{
	color:white;
}/* line 45, ../sass/layout/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, ../sass/layout/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../sass/layout/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../sass/layout/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../sass/layout/_normalize.scss */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 109, ../sass/layout/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../sass/layout/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../sass/layout/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../sass/layout/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 145, ../sass/layout/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../sass/layout/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../sass/layout/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../sass/layout/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../sass/layout/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../sass/layout/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../sass/layout/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../sass/layout/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 198, ../sass/layout/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../sass/layout/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../sass/layout/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 233, ../sass/layout/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../sass/layout/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../sass/layout/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, ../sass/layout/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, ../sass/layout/_normalize.scss */
small {
  font-size: 80%;
}

/* line 286, ../sass/layout/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, ../sass/layout/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 298, ../sass/layout/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 350, ../sass/layout/_normalize.scss */
img {
  border: 0;
}

/* line 359, ../sass/layout/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, ../sass/layout/_normalize.scss */
figure {
  margin: 0;
}

/* line 386, ../sass/layout/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, ../sass/layout/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 411, ../sass/layout/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 426, ../sass/layout/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 435, ../sass/layout/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 448, ../sass/layout/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, ../sass/layout/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, ../sass/layout/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, ../sass/layout/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, ../sass/layout/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, ../sass/layout/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
/* line 506, ../sass/layout/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 516, ../sass/layout/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}


/* line 3, ../sass/style.scss */
html,body,#app,.data-root {
  margin: 0;
  height: 100%;
}

/* line 6, ../sass/style.scss */
* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Heiti TC','\5FAE\8EDF\6B63\9ED1\9AD4','sans-serif';
}

a{
    text-decoration: none;
}.editor,.preview{
    width: 50%;
	height:100%;
	display: inline-block;
	float: left;

}
.preview{
 	background: white;
	overflow: scroll;
	padding: 16px 32px;
	padding: 1rem 2rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.editor__textarea{
    background: #212121;
    color: aliceblue;
 	height: 100%;
	width: 100%;
	padding: 40px 16px 0;
	padding: 2.5rem 1rem 0;
    line-height: 1.5;
    letter-spacing: 0.5px;

}
.editor__textarea:focus{
    outline: none;
}
.helper{
    background-color: #64aeb3;
    -webkit-transition: .3s;
    transition: .3s;
    width: 32%;
    position: absolute;
}
.helper--hide{
    margin-left: -31%;
    -webkit-transition: .3s;
    transition: .3s;
    position: absolute;
}

.helper__hint{
    content: ' ';
    background: #FF5722;
    position: absolute;
    cursor: pointer;
    right: -39px;
    color: white;
    height: 100%;
    padding: 7px; 
}
.helper__btn{
    background-color: #64aeb3;
    color: white;
    border: none;
    margin: 0px 0px;
    height: 30px;
    padding: 0 16px;
}
.helper__btn:hover{
    background-color: #7ec1c5;
    -webkit-transition: .3s;
    transition: .3s;
}
.helper__btn:focus{
    outline: none;
}
blockquote{
	padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #ddd;
}

strong {
    font-weight: 600;
}
table {
    display: block;
    width: 100%;
    overflow: auto;
}
table th {
    font-weight: bold;
}
table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}
table th, table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}
table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
/*# sourceMappingURL=bundle.css.map*/