.header{
	background-color:#3a3a3a; /* fallback color if gradients are not supported */
    padding: 0 50px;
    height: 70px;
}
.container{
	height:100%;
	background-color: #F5F5F5;
}
.logo{
	display: inline-block;
	width:20%;
}
.logo__text{
	color: white;
}
.nav{
 	display: inline-block;
 	width:80%;
}
.nav__li{
	list-style:none;
	display: inline-block;
	width: 30%;
}
.nav__text{
	color:white;
}