.editor,.preview{
    width: 50%;
	height:100%;
	display: inline-block;
	float: left;
}
.preview{
 	background: white;
	overflow: scroll;
	padding: 1rem 2rem;
}
.editor__textarea{
    background: #212121;
    color: aliceblue;
 	height: 100%;
	width: 100%;
	padding: 2.5rem 1rem 0;

}
.editor__textarea:focus{
    outline: none;
}
.helper{
    background-color: #64aeb3;
    transition: .3s;
    width: 32%;
    position: absolute;
}
.helper--hide{
    margin-left: -31%;
    transition: .3s;
    position: absolute;
}

.helper__hint{
    content: ' ';
    background: #FF5722;
    position: absolute;
    cursor: pointer;
    right: -39px;
    color: white;
    height: 100%;
    padding: 7px; 
}
.helper__btn{
    background-color: #64aeb3;
    color: white;
    border: none;
    margin: 0px 0px;
    height: 30px;
    padding: 0 16px;
}
.helper__btn:hover{
    background-color: #7ec1c5;
    transition: .3s;
}
.helper__btn:focus{
    outline: none;
}
blockquote{
	padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #ddd;
}

strong {
    font-weight: 600;
}
table {
    display: block;
    width: 100%;
    overflow: auto;
}
table th {
    font-weight: bold;
}
table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}
table th, table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}
table tr:nth-child(2n) {
    background-color: #f8f8f8;
}